.submit {
  border: none; /* Remove borders */
  color: white; /*text color*/
  cursor: pointer; /*pointer cursor on mouse-over*/
  border-radius: 10%;
  transition-duration: 0.4s;
  background-color: white;
  color: red;
  border: 2px solid red;
}

.submit:hover {
  background-color: #46a049;
  border: 2px solid green;
  color: white;
}